langchain
langchain-community
langchain_openai

openai==0.28.1

python-dotenv
pydantic
pypdf
tiktoken
chromadb
# sqlite3
pyboxen
unstructured
playwright 
beautifulsoup4
pinecone-client

fastapi
uvicorn
