# General
mypy
loguru

# LangChain
langchain
langchain-community
langchain-core
langchain-experimental
langchainhub
langserve[all]
langchain-cli
langsmith
langchain-openai
langchainhub
langchain-pinecone
pydantic==1.10.9

llama-index
llama-index-readers-file
llama-index-llms-huggingface
llama-index-embeddings-langchain

tqdm
accelerate
fastapi
bitsandbytes
gradio
pdf2image
pdfminer.six
pypdfium2
pillow_heif
unstructured_inference
pikepdf

spellchecker
pyspellchecker
youtube-transcript-api

einops
beautifulsoup4
faiss-cpu
tavily-python
docarray
tiktoken
nltk
chromadb
unstructured
jq
markdown
pypdf
rapidocr-onnxruntime
tiktoken
spacy
nltk
konlpy
sentence-transformers
qdrant-client
rank-bm25
lark
elasticsearch
fireworks
fireworks-ai
pinecone-client
datasets