# General
mypy
loguru
email-validator
tqdm
fastapi
python-dateutil
alembic
passlib
argon2_cffi
starlette-csrf

# Database
sqlalchemy[asyncio,mypy]
asyncpg
aiomysql

# LangChain
langchain
langchain-community
langchain-core
langchain-experimental
langchainhub
langserve[all]
langchain-cli
langsmith
langchain-openai
langchainhub
langchain-pinecone
langchain-anthropic
pydantic==1.10.9
grandalf

# Llama Index
llama-index
llama-index-readers-file
llama-index-llms-huggingface
llama-index-embeddings-langchain

accelerate
bitsandbytes
gradio
pdf2image
pdfminer.six
pypdfium2
pillow_heif
unstructured_inference
pikepdf

spellchecker
pyspellchecker
youtube-transcript-api

einops
beautifulsoup4
faiss-cpu
tavily-python
docarray
tiktoken
nltk
unstructured
jq
markdown
pypdf
rapidocr-onnxruntime
tiktoken
spacy
nltk
konlpy
sentence-transformers
qdrant-client
rank-bm25
lark
elasticsearch
fireworks
fireworks-ai
pinecone-client
datasets

# Cmds
#  alembic init alembic
#  alembic revision --autogenerate -m "Initial migration"

