jupyter
jupyterlab
langchain[docarray]==0.0.284
langchain_experimental
langsmith
huggingface_hub
transformers
accelerate
torch
openai==0.28.1
google-cloud-aiplatform
google-generativeai
replicate
ruff
pypdf
tiktoken
duckduckgo_search
streamlit
arxiv
wikipedia
wolframalpha
unstructured
pandoc
sentence-transformers
gradio
gpt4all
google-api-python-client
apify-client
chromadb
lanarky==0.7.16
ray[serve]
faiss-cpu
promptwatch
langchain_decorators
